$colour-primary: white !default;
$colour-secondary: black !default;
$color-tertiary: #a35bdb;
$color-four:#9356dc;
$color-five: #eaeaea;
$color-six: #f6f6f6;
$color-seven: #353535;
$color-eight: #269e80;
$color-hover: #99e2d0;

$breakpoints: (
    "phone": 767px,
    "tablette": 768px,
    "big tablette": 992px,
    "laptop MDPI": 1025px,
    "laptop HIDPI": 1281px, 
    "desktop": 1601px
) !default;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;